html{
	overflow-x:hidden;
}

body{
	font-family: "Helvetica Neue";
	background-color: #f5f5f5;
	margin:0 auto;
	max-width: 1260px;
    padding: 0 4.7%;
}

/*for header*/

body > header:before, body > header:after {
    content: " ";
    display: table;
}
body > header:after {
    clear: both;
}

body > header {
    font-family: "Helvetica Neue";
    font-weight: 300;
    margin-bottom: 80px;

}
footer, header, nav, section {
    display: block;
}

body > header h1 {
    float: left;
    font-size: 25px;
    font-weight: 300;
    margin: 5px 0 0;

}
h1 {
    font-family: "Helvetica Neue";
 
}
.oak{
    font-family: "Courier New";
    font-size: 45px;
    text-decoration: none;
}
.oak:hover{
	opacity:0.6;
}
body > header h1 .is:after {
    color: #383838;
    content: " / ";
    font-size: 32px;
    font-weight: 100;
    letter-spacing: -2px;
}
body > header h1 .inputer{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    height: 27px;
}

/*for nav in header*/

body > header nav {
    float: right;
    padding-top: 27px;
    text-transform: lowercase;
}

/*-----------------------------------*/
/*for ul in nav in header*/
ul{
    margin: 0;
    padding: 0;   
}
/*------------------------------*/
/*for li in ul in nav in header*/
body > header nav li {
    display: inline;
    font-size: 1.3em;
    padding-left: 20px;
}
/*-----------------------------------------*/
/*for a in li in ul in nav in header*/

a {
    color: #383838;
    text-decoration: none;
}
body > header nav li a:hover{
	opacity: 0.6;
}

section:before, section:after {
    content: " ";
    display: table;
}
section:after {
    clear: both;
}

/*------------------------------------------------------------------*/
/*for h1 in section*/
body>section > h1 {
    text-align: center;
}
section > h1 {
    font-size: 60px;
}
section > h1 {
  
    letter-spacing: -1px;
    line-height: 1.25;
    margin: 0 0 110px;
}
.smart{
	background: none repeat scroll 0 0 #7ad4ce;
	border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-style: normal;
    padding:5px;
}

.productive{
	background: none repeat scroll 0 0 #fdc44f;
	border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-style: normal;
    padding:5px;
}

section:after {
    clear: both;
}
section:before, section:after {
    content: " ";
    display: table;
}
body .threeTools div {
    position: relative;
    text-align: center;
}
@media screen and (min-width: 400px){
    .Onethird {
        width: 390px;
        float: left;
        margin: 0 20px 20px 0;
        /*margin: 0 auto 20px;*/
    }
    .Onethird:last-child{
        margin-right: 0;
    }
}


a.image {
    border: 0 none;
}
/*-----------------------------*/
/*for img*/
img {
    max-width: 100%;
    border: 0 none;
}

body .threeTools h4 {
    font-family: "Arial";
    font-size: 33px;
    font-weight: 400;
    margin: 6px 0;
}
/*--------------------------------*/
/*for p in class Onethird*/
body .threeTools p {
    color: rgba(0, 0, 0, 0.4);
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 28px;
}
/*-------------------------------------------*/
/*for buttons*/


body .threeTools .button {
    bottom: 0;
    position: relative;
}
a.button {
    font-family: "Arial";
    background-color: #93b8ca;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 11px 18px 8px;
    text-decoration: none;
    text-transform: uppercase;


}

body a.bluePromo {
    display: block;
    font-family: "Helvetica Neue";
    font-size: 30px;
    font-weight: 300;
    margin-top: 120px;
    padding: 15px;
    text-align: center;
    text-transform: none;
}

/*--------------------------------------------------------*/
/*for blue in bluePromo button*/

body a.bluePromo strong {
    font-family: "Helvetica Neue";
    font-weight: bold;
}
/*------------------------------------------*/

.companies {
    color: #a0c0d0;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 300;
    margin: 100px 0;
    text-align: center;
    text-transform: none;
}
/*-------------------------------------*/
/*for work with us link*/
.companies a {
    color: #a0c0d0;
    font-family: "Arial";
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
/*-------------------*/
body #blog{
	font-family: "Arial";
    min-height: 220px;
    position: relative;
}
@media screen and(max-width: 400px){
    #hidden{
        display: none;
    }
}
@media screen and (min-width: 600px){

    .hati {
    width: 48%;
    }
    .Onethird, .hati {
        float: left;
        margin-right: 2%;
    }
}

body #blog h4 {
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 1em;
    text-transform: uppercase;
}
/*----------------------------------------*/

/*for h5*/

body #blog h5{
    font-size: 25px;
    margin: 0;
}
/*------------------------------*/

body #blog h5 a{
    color: gray;
}
/*-----------------------*/
/*for p in blog*/

body #blog p{

    color: gray;
    display: inline;
    font-size: 20px;
}

body #blog .button{
    margin-top: 16px;
    margin-bottom: 30px;
}

body > footer {
    color: gray;
    font-size: 12px;
    margin: 100px 0 3em;
    text-align: center;
}
/*----------------------------------*/
/*for a in footer*/

body > footer a {
    color: gray;
}

/*for hover effects*/

body>section > section a:hover,
body>section a.bluePromo.button.image:hover,
body>section a:hover,
#blog h4 a:hover,
#blog h5 a:hover,
 footer a:hover{
    opacity:0.6;
}

body>section > h1 a.highlight.smart:hover{
    background: #48c4bb;
}

body>section > h1 a.highlight.productive:hover{
    background: #fcae0d;
}
/*-----------------------------------*/

